.registration-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 500px;
    margin: 2rem auto;
    padding: 1rem;
}

mat-card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    width: 350px;
    text-align: center;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

mat-form-field {
    display: block;
    text-align: center;
    width: 100%;
    height: 65px;
    margin-bottom: 0.5rem;
}

mat-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.error-message {
    color: #f44336;
    margin: 1rem 0;
    text-align: center;
}

button[type="submit"] {
    width: 200px;
}

.login-link {
    margin-top: 20px;
}

.login-link a {
    color: #3f51b5;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}